﻿@model IEnumerable<MonitoringProj2._3.Models.ViewModels.RoleListVM>

@{
    ViewData["Title"] = "View";
}


<h1>Overview Of Users and Roles</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var user in Model)
        {
            <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            @*<td>@user.Role</td>*@
            </tr>
        }
  </tbody>
</table>
