﻿@model IEnumerable<MonitoringProj2._3.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purch_timestamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.Purchased.Equals(true))
      {
          <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purch_timestamp)
            </td>
        </tr>
       }
}
    </tbody>
</table>
