﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center shadow p-3 mb-5 bg-body rounded">
    <div class="container">
        <h1 class="display-4">Welcome to Pet Store Monitoring</h1>
        <p class="lead">Where Petstore Employees track the statistics from the Petstore website.</p>
    </div>
</div>

<div class="container">
    <div class="row align-items-start pb-3 pl-4">
        <div class="col">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <img src="~/Images/HomeIndex/warehouse.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sales Monitoring</h5>
                    <p class="card-text">Here you can find a list of all sales tranactions. Individual item statistics are also provided here.</p>
                    @if (TempData.Peek("SalesMonitoring").Equals(true))
                    {
                        <a href="~/cartitem" class="btn btn-primary">Go to Sales Transactions</a>
                    }
                    else
                    {
                        <a href="~/cartitem" class="btn btn-primary disabled">Go to Sales Transactions</a>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <img src="~/Images/HomeIndex/cart.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cart Monitoring</h5>
                    <p class="card-text">Here you can find what items are appearing in many peoples' carts including the popularity of individual items!</p>
                    @if (TempData.Peek("CartMonitoring").Equals(true))
                    {
                        <a href="~/cartitem/MarketBasket" class="btn btn-primary">Go to Cart Monitoring</a>
                    }
                    else
                    {
                        <a href="~/cartitem/MarketBasket" class="btn btn-primary disabled">Go to Cart Monitoring</a>
                    }

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem;">
                <img src="~/Images/HomeIndex/tcomputer.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Visit Monitoring</h5>
                    <p class="card-text">Here you can see the breakdown of each individual visit to the website.</p>
                    @if (TempData.Peek("VisitMonitoring").Equals(true))
                    {
                        <a href="~/visits" class="btn btn-primary">Go to Visits</a>
                    }
                    else
                    {
                        <a href="~/visits" class="btn btn-primary disabled">Go to Visits</a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
